#body {
  background-color: #15CAF3;
  font-family: Papyrus, fantasy;
}
.h2 {
  font-family: inherit;
  font-size: 2.5rem;
  font-style: oblique;
}
.p {
    font-style: oblique;
    font-family: cursive;
}
